@font-face {
  font-family: 'Eina';
  src: url('./fonts/Extratype\ -\ Eina03-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Eina';
  src: url('./fonts/Extratype\ -\ Eina03-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Eina';
  src: url('./fonts/Extratype\ -\ Eina03-SemiBold.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noe Display';
  src: url('./fonts/Noe\ Display\ Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Noe Display';
  src: url('./fonts/Noe\ Display\ Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Noe Display';
  src: url('./fonts/Noe\ Display\ Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'El Messiri';
  src: url('./fonts/ElMessiri-Regular.ttf');
  font-weight: 600;
}

h1, h2, h4, h5, h6 {
  font-family:'Noe Display';
  font-style: normal;
}

h3 {
  font-family:'El Messiri';
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --blue: #00abe1;
  --cyan: #41b1d4;
  --blueblack: #0e2140;
  --darkblue: #132a4a;
  --bgblue: #e8f3f9;
  --lightgray: #aab1b9;
  --red: #f23e58;
  --hotred: #ff1e3e;
}

body {
  font-family: 'Eina', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
