@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #00abe1;
  --cyan: #41B1D4;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}