@font-face {
  font-family: 'Eina';
  src: url("./fonts/") format("opentype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --blue: #00abe1;
  --cyan: #41B1D4;
  --blueblack: #0E2140;
  --darkblue: #132A4A;
  --bgblue: #E8F3F9;
  --lightgray: #AAB1B9;
  --red: #FF1E3E;
}

body {
  font-family: 'Eina', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}