.auth {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(102.57deg, #21488a 0%, #0b182d 100%);
    color: #fff;
}

.auth a {
    color: var(--blue);
}

.auth a:visited {
    color: var(--blue);
}

.auth a:hover {
    color: var(--blue);
}

.auth h2 {
    font-weight: 300;
    font-size: 24px;
}

.auth h3 {
    font-weight: 300;
    font-size: 20px;
}

svg {
    position: absolute;
    height: 175px;
    transform: rotate(-5deg) skew(-20deg);
    background: rgba(151, 203, 220, 0.2);
    left: -10%;
}

svg:nth-child(1) {
    width: 540px;
    top: -50px;
}

svg:nth-child(2) {
    width: 590px;
    top: 200px;
}

svg:nth-child(3) {
    width: 260px;
    top: 460px;
}